<ion-tabs #tabs (ionTabsDidChange)="setSelectedTab()">

 <!-- The Ionic tab bar -->
 <ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1">
    <ion-icon [name]="selected == 'tab1' ? 'home' : 'home-outline'"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2">
    <ion-icon [name]="selected == 'tab2' ? 'search' : 'search-outline'"></ion-icon>
    <ion-label>Search</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab3">
    <ion-icon [name]="selected == 'tab3' ? 'library' : 'library-outline'"></ion-icon>
    <ion-label>Library</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
